---
interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---

<!-- <div class="flex flex-col gap-4 pb-8 shadow-lg w-[350px] rounded-3xl box-border">
	<div>
		<img class="w-full h-[200px]  rounded-t-[calc(1.5rem-4px)] grayscale" src="https://picsum.photos/200" alt="">
	</div>

	<div class="p-8 text-center flex flex-col justify-between h-full">
		<h3 class="text-xl font-bold mb-10 text-ah-pink">{title}</h3>

		<div class="text-left">
			<slot />
	
		</div>

		<div class="text-center mt-16">
			<a class="text-ah-pink hover:text-white hover:bg-ah-pink border-2 md:border-[3px] border-ah-pink py-2 px-4 rounded-full" href={href}>Leer más</a>
		</div>
	</div>
</div> -->

<div class="md:before:block md:before:absolute before:right-8 before:bottom-8 before:-inset-5 before:rounded-3xl before:bg-ah-gray relative flex-1 mx-auto">
	<div class="
		flex flex-col gap-4 p-8 shadow-lg w-[350px] lg:w-full rounded-3xl box-border  h-full relative bg-white
	">
		<h3 class="text-xl font-bold mb-2 text-ah-gray text-center">{title}</h3>

		<div class="text-left">
			<slot />

		</div>
	</div>
</div>


