---
import ClientCard from "./ClientCard.astro"
---

<div id="clientes" class="pt-28">
  <div class="px-10 lg:px-20 xl:px-40">
    <h2 class="text-4xl font-bold text-center">Nuestros clientes</h2>
  </div>
  
  <div class="mt-8">

    <div class="mt-8 md:mt-4 px-1">
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-1">

        <ClientCard />
        <ClientCard />
        <ClientCard />
        <ClientCard />

        <ClientCard />
        <ClientCard />
        <ClientCard />
        <ClientCard />

        <ClientCard />
        <ClientCard />
        <ClientCard />
        <ClientCard />

        <ClientCard />
        <ClientCard />
        <ClientCard />
        <ClientCard />

        <ClientCard />
        <ClientCard />
        <ClientCard />
        <ClientCard />
        
      </div>

  </div>
</div>