---
---

<section id="contacto" class="py-28 px-10 lg:px-20 xl:px-40 h-[calc(100vh-80px)]">
  <h2 class="text-4xl font-bold text-center">Contacto</h2>


  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8 md:mt-4">
    <form class="mt-8">
      <div class="mt-8">
        <div>
          <label for="name">Nombre</label>
          <input type="text" name="name" id="name" class="w-full p-4 rounded-lg border-2 border-slate-300 focus:border-ah-pink">
        </div>
  
        <div class="mt-4">
          <label for="email">Correo</label>
          <input type="email" name="email" id="email" class="w-full p-4 rounded-lg border-2 border-slate-300 focus:border-ah-pink">
        </div>
  
        <div class="mt-4">
          <label for="subject">Asunto</label>
          <input type="text" name="subject" id="subject" class="w-full p-4 rounded-lg border-2 border-slate-300 focus:border-ah-pink">
        </div>
  
        <div class="mt-4">
          <label for="message">Mensaje</label>
          <textarea name="message" id="message" class="w-full p-4 rounded-lg border-2 border-slate-300 focus:border-ah-pink"></textarea>
        </div>
      </div>
  
      <div class="mt-8">
        <button class="bg-ah-pink text-white font-bold py-3 px-6 rounded-full max-w-fit shadow-md hover:bg-ah-pink-dark">
          <span class="xl:text-2xl">Enviar</span>
        </button>
      </div>
    </form>
    <div>

    </div>
  </div>


  
</section>