---

import Icon from "./Icon.astro"

---
<section id="inicio" class="h-[calc(100vh-260px)] text-center mx-auto pt-4  max-w-[1500px] sm:px-10 md:h-[calc(100vh-400px)] ">

  <div class="flex justify-center text-right">

    <div class="flex items-end pt-40 pb-20 z-50">
      <h2 class="font-bold px-4 inline-block bg-slate-50 text-[6vw] sm:text-[5vw] md:text-[3.4vw] md:mb-10 min-[1500px]:text-[3vw] 
      min-[1700px]:text-[2.5vw]">Crece personal y<br><span class="text-ah-pink">profesionalmente</span><br>mientras impulsas tu<br>empresa.</h2>
    </div>
      
    <div class="py-40 ml-[-150px] mt-[-80px] items-start z-20 pl-14">
      <Icon />
    </div>
  </div>

  <a href="/" class="bg-ah-blue text-white font-bold py-3 px-6 rounded-full max-w-fit shadow-md md:py-4 md:px-8 md:text-xl hover:bg-ah-blue-dark">
    <span class="">Descubre cómo</span>
  </a>
  
</section>