---

import Icon from "./Icon.astro"

---
<section id="inicio" class="h-[calc(100vh-250px)] text-center mx-auto pt-4  max-w-[1500px] sm:px-10 md:h-[calc(100vh-200px)] ">

  <div class="flex justify-center">

    <div class="pt-56 pb-5 sm:pb-20 md:pt-40 relative">
      <div class="absolute z-10 top-[9rem] right-[calc(50%-75px)] sm:top-[3.7rem] sm:right-[-7rem] md:top-14  md:right-[-9rem] lg:top-10 lg:right-[-12rem] ">
        <Icon />
      </div>

      <div class="relative z-30">
        <h2 class="font-bold px-4 py-2 inline-block bg-ah-cream text-[1.6rem] sm:text-[2.25rem] md:text-[2.4rem] lg:text-[3.3rem]">
          <span class="text-[2rem] sm:text-[2.8rem] md:text-[3rem] lg:text-[4rem]">Lleva tu desarrollo</span><br>
          <span class="text-ah-pink">personal</span> y <span class="text-ah-pink">profesional</span><br>
          <span>al siguiente nivel</span>
        </h2>
      </div>
    </div>
      
    
  </div>

  <a href="#servicios" class="bg-ah-blue text-white font-bold py-3 px-6 rounded-full max-w-fit shadow-md md:py-4 md:px-8 md:text-xl hover:bg-ah-blue-dark">
    <span class="">Descubre cómo</span>
  </a>
  
</section>


<!-- <style>
 #inicio::after {
  content: "";
  position: absolute;
  background-image: radial-gradient(circle, #cb299a 4px, transparent 4px);
  background-size: 23px 23px;
  width: 850px; 
  height: 850px;
  opacity: 0.3; 
  rotate: -45deg;
  z-index: -1;
}

#inicio::after {
  bottom: -500px; 
  left: -500px;
}
</style> -->