---

---

<section id="inicio" class="h-[calc(100vh-260px)] md:h-[calc(100vh-400px)] flex mx-auto py-4 px-10 text-center md:text-right lg:px-20 xl:px-40">

  <div class=" grid grid-cols-1 md:grid-cols-2 ">

    <div class="py-8 flex flex-col items-center gap-6 md:items-end md:py-40">
      <h2 class="text-2xl font-bold md:text-3xl md:mb-10 xl:text-4xl">Si tus objetivos son crecer personal y profesionalmente e impulsar y contribuir en el desarrollo de tu empresa, estás en el lugar <span class="text-ah-pink">correcto</span>.</h2>

      <a href="/" class="bg-ah-blue text-white font-bold py-3 px-6 rounded-full max-w-fit shadow-md hover:bg-ah-blue-dark">
        <span class="xl:text-2xl">Descubre cómo</span>
      </a>
    </div>
      
    <div class="py-8 md:py-40 flex justify-center items-start pb-28 md:pb-0">
      <img class="w-3/4 max-w-[450px] drop-shadow-[20px_15px_15px_rgba(0,0,0,0.5)]" src="/reloj.png" alt="">
    </div>
  </div>
  
</section>